<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>710221840901-1fqrob8iots9jatrjttbkgmk230m6bnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.710221840901-1fqrob8iots9jatrjttbkgmk230m6bnc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>710221840901-fpbn4mli8qjsb21rc0iepnjhuj14antv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBUfSvVfRIKif-FT2k4QcZ7evDM60aTAwY</string>
	<key>GCM_SENDER_ID</key>
	<string>710221840901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.sitforsa</string>
	<key>PROJECT_ID</key>
	<string>sitforsa</string>
	<key>STORAGE_BUCKET</key>
	<string>sitforsa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710221840901:ios:8796adb90b895bbc0e926c</string>
</dict>
</plist>